* {
  font-family: "Courier New", Courier, monospace;
}

h1 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

h3 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.container {
  margin: auto;
  width: 75%;
}

.img-gallery img {
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.ico {
  width: 2.5rem;
  float: left;
  margin-right: 0.5rem;
}

.clearfix {
  display: block;
  content: "";
  clear: both;
}
